.title {
    font-size: 24px;
    font-weight: 600;
}

.discription {
    font-size: 20px;
}

.inner-form-data {
    padding: 70px 20px;
}

.first-line {
    display: flex;
    justify-content: space-between;
}

.sub-member-data {
    margin-top: 30px;
}

.tbody-tr {
    cursor: pointer;
}

.inner-photo {
    width: 100%;
    max-width: 60px;
    height: 60px;
    border-radius: 30px;
}

.inner-photo-modal {
    width: 100%;
    max-width: 95px;
    height: 65px;
    border-radius: 30px;
}
.eye-icon{
    font-size: 23px;
    vertical-align: middle;
    text-align: center;
}
.cursor-pointer1 {
    cursor: pointer;
    font-size: 25px;
    color: black;
}
