.flex-section {
    display: flex;
}

.oneeight {
    height: 30px;
    margin: 80px 0;
    border: 1px;
}

.wl-logo {
    width: 100%;
    max-width: 30px;
    cursor: pointer;
    text-align: center;
}

.inner-padding {
    padding-left: 60px !important;
}

.total-rightsde-section {
    width: 100%;
}