.ad_slider {
    width: 100%;
    text-align: end;
}

.ad_slider_btn {
    width: 100%;
    max-width: 210px;
    padding: 10px;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    margin: 50px;
    background: #214451;
}

.ad_slider_btn2 {
    width: 100%;
    max-width: 210px;
    padding: 10px;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    background: #214451;
}

.img_container {
    display: flex;
    gap: 20px;
    flex-flow: row wrap;
    width: 100%;
    max-width: 1560px;
    padding: 0 50px;
}

.imgs_container {
    position: relative;
    margin-top: 50px;
    width: 500px;
    height: 300px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}

.imgs_container:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .3);
}

.sub_imgs {
    position: absolute;
    width: 500px;
    height: 300px;
    left: 0;
}


.imgs_container:hover .title {
    top: 90px;
}

.button {
    position: absolute;
    width: 100%;
    left: 0;
    top: 180px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
    color: white;
    font-size: 50px;
}

.button a {
    width: 200px;
    padding: 12px 48px;
    text-align: center;
    z-index: 1;
    color: white;
    cursor: pointer;
}

.imgs_container:hover .button {
    opacity: 1;
}

